<!-- Topbar Start -->
<div class="navbar navbar-expand-sm navbar-toggleable-sm bg-light mb-1 sticky-topbar">
  <div class="container">
      <a [routerLink]="['/country/mexico']" class="navbar-brand">
          <img src="assets/images/logo-light.png" height="40" >
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()" >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]="{ show: isExpanded }" >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }" >
            <a class="btn btn-md btn-lighten-success waves-effect waves-light width-lg mr-md-1 mr-2 nav-link text-dark" [routerLink]="['/country/mexico']">M&eacute;xico</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }" >
            <a class="btn btn-md btn-lighten-primary waves-effect waves-light width-lg mr-md-1 mr-2 nav-link text-dark" [routerLink]="['/']">El Mundo</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="btn btn-md btn-lighten-danger waves-effect waves-light width-lg mr-md-1 mr-2 nav-link text-dark" [routerLink]="['/assistance']" >Informaci&oacute;n</a>
          </li>
        </ul>
      </div>

  </div>  <!-- end container-fluid-->

</div>
<!-- end Topbar -->

