<!-- Topbar Start -->
<nav class="navbar navbar-expand-md navbar-toggleable-md bg-light mb-1 sticky-topbar">
  <div class="container">
      <a [routerLink]="['/']" class="navbar-brand">
          <img src="assets/images/logo-light.png" height="40" >
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()" >
        <i class="far fa-caret-square-down"></i>
      </button>
      <div class="navbar-collapse collapse d-md-inline-flex flex-md-row-reverse" [ngClass]="{ show: isExpanded }" >
        <ul class="navbar-nav flex-grow">
          <li class="nav-item" [routerLinkActive]="['link-active']">
            <a class="btn btn-md btn-outlined-danger waves-effect waves-light width-lg mt-1 mb-1 nav-link text-dark" [routerLink]="['/']" > <i class="fas fa-info-circle mr-1"></i>Informaci&oacute;n</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }" >
            <a class="btn btn-md btn-outlined-success waves-effect waves-light width-lg mt-1 mb-1 nav-link text-dark" [routerLink]="['/country/mexico']"><img width="20" src="assets/flags/mx.svg"> Datos</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['link-active']" [routerLinkActiveOptions]="{ exact: true }" >
            <a class="btn btn-md btn-outlined-primary waves-effect waves-light width-lg mt-1 mb-1 nav-link text-dark" [routerLink]="['/dashboard']"><img width="15" src="assets/flags/world.png"> El mundo</a>
          </li> 
        </ul>
      </div>

  </div>  <!-- end container-fluid-->

</nav>
<!-- end Topbar -->

