<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="mt-5">Esta p&aacute;gina no existe.</h1>         
        </div>
    </div>
    <div class="row">
    	<div class="col-12 text-center" >
    		<img src="assets/images/404.png" width="500" />
    	</div>
    </div>
    <div class="row">
      <div class="col-xl-4">
        <div class="card card-box">
          <h4 class="header-title mb-3">Puedes regresar a los siguientes sitios:</h4>
          <div class="float-md-left float-left d-md-none d-inline">
          	<button type="button" routerLink="/" class="btn btn-block btn-sm btn-lighten-warning waves-effect waves-light width-sm mr-md-1 mr-0">Datos</button>
          	<button type="button" routerLink="/assistance" class="btn btn-block btn-sm btn-lighten-danger waves-effect waves-light width-sm mr-md-1 mr-0">Asistencia</button>
          </div>
          <div class="float-left d-md-inline d-none">
            <button type="button" routerLink="/" class="btn btn-sm btn-lighten-warning waves-effect waves-light width-sm mr-md-1 mr-0">Datos</button>
            <button type="button" routerLink="/assistance" class="btn btn-sm btn-lighten-danger waves-effect waves-light width-sm mr-md-1 mr-0">Asistencia</button>
          </div>
        </div>
      </div><!-- end col -->
      <div class="col-md-8">
      </div>
    </div>
</div>