<footer class="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        2020 &copy; para M&eacute;xico con <span class="text-danger"><i class="fas fa-heart"></i></span> por <a href="https://twitter.com/MelchorPinto">Julio C&eacute;sar Melchor Pinto</a>
      </div>
      <div class="col-md-6">
        <div class="text-md-right footer-links d-none d-sm-block">
          <a href="https://github.com/JulioMelchorPinto/"><span class="text-blue"><i class="fab fa-osi"></i></span> Repositorio</a>
          <a href="https://paypal.me/beaverNet"><span class="text-warning"><i class="fas fa-mug-hot"></i></span> Patroc&iacute;name</a>
          <a href="https://twitter.com/MelchorPinto"><span class="text-success"><i class="far fa-paper-plane"></i></span> Contacto</a>
        </div>
      </div>
    </div>
  </div>
</footer>